body {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: var(--madefor-display-font);
   

}

/*root font type*/
:root {
    --madefor-text-font: "Wix Madefor Text";
    --madefor-display-font: "Wix Madefor Display";
    
}

/*root font weight*/
:root {
    --weight-regular: 400;
    --weight-medium: 530;
    --weight-bold: 700;
    --weight-xbold: 800;
}

/*root color*/
:root {
    --white-color: #fff;
    --soft-highlight-color: #E8EAFF;
    --primary-blue-color: #166AEA;
    --dark-blue-color: #162D3D;
    --purple-color: #AA4DC8;
    --lilac-color: #CD68ED;
    --lavender-color: #CED3FF;
    --light-blue-color: #BFC5FF;
}


#main-table-content{
    display: flex;
    justify-content: center;
    margin: 50px;
    
}
/*table-area*/
#table-column-title{
    margin: 0%;
    padding: 0%;

}

.table-area{
    display: flex;
    justify-content: center;
    padding: 100px 90px;
    margin:auto
}

/*PRICE-TABLE*/
.price-table {
    justify-content: center;
    border-spacing: 0px;
    margin: auto;
    border-collapse: collapse;
    border: 1px solid, var(--soft-highlight-color);

}

.price-table th {
    padding: auto;
    font-weight: var(--weight-regular);
}


.table-column-title {
    display: flex;
    justify-content: center;
    width: 200px;
    height: 200px;
    margin: auto;
    font-weight: var(--weight-bold);

}

.table-column-title h2 {
    font-weight: var(--weight-bold);
    font-size: 20px;
}

.table-column-title p {
    max-width: 200px;
    font-size: 14px;
    font-weight: var(--weight-regular);
    color: var(--primary-color-font);
}

.table-column-title hr {
    width: 8px;
    height: 3px;
    border: none;
    background-color: var(--light-blue-color);
    border-radius: 10px;
}

.package-price strong {
    font-size: 15px;
    font-weight: var(--weight-xbold);
}


.table-row-title {
    display: flex;
    align-items: center;
    height: 30px;
    width: 250px;
    padding: 10px 10px 10px 10px;
    font-weight: var(--weight-medium);
}

.price-table th,
.price-table td {
    border: 1px solid #dfe5eb;
    font-size: 14px;
    text-align: center;
    color: var(--primary-color-font);

}